<h1 class="center-align">Welcome {{ user.firstName }} {{ user.lastName }}! </h1>
<h4 class="d-flex">
    <img class="mr-10" src="https://img.icons8.com/clouds/70/000000/likes-folder.png">
    <div>Your Stories</div>
</h4>

{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/show/{{ id }}">{{ title }}</a></td>
                    <td>{{formatDate date 'MMMM do YYYY'}}</td>
                    <td><span class="dash-status">{{ status }}</span></td>
                    <td>
                        <a class="btn left-align" href="/stories/edit/{{ id }}">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <form 
                            id="delete-form" 
                            action="/stories/{{ id }}?_method=DELETE"
                            method="post"    
                        >
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any strories yet</p>
{{/if}}